:root {
    --main-blue: rgb(80, 179, 179);
    --secondary-blue: rgb(108, 210, 210);
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    top: 0;
    position: absolute;
    height: 100px;
    background-color: var(--main-blue);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.header span {
    font-size: 34px;
    text-align: center;
    margin-left: 32px;
    font-weight: bold;
}

h1 {
    text-align: center;
}

tbody tr {
    background-color: rgb(201, 232, 232);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.form-field {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.form-input label {
    font-weight: bold;
}

.required-field {
    color: rgb(249, 42, 42);
}

.form-button {
    padding: 10px 16px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: var(--main-blue);
    color: white;
}

.form-button:hover {
    cursor: pointer;
    background-color: var(--secondary-blue);
}

.data-table {
    padding: 15px;
    display: none;
    margin-right: 5%;
    margin-left: 5%;
}

.data-table-header {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

.data-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.data-actions button {
    margin-right: 5px;
    margin-left: 5px;
}

#table-content {
    text-align: center;
}

.edit-button, .remove-button {
    padding: 6px 10px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: var(--main-blue);
    color: white;
}

.edit-button:hover, .remove-button:hover {
    cursor: pointer;
    background-color: var(--secondary-blue);
}

@media (max-width: 768px) {

    .data-actions {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .edit-button, .remove-button {
        margin-top: 5px;
    }
}